

#header{
   background-color: green;
   min-height: 150px;
   margin: 5px;
}

#nav{
   background-color: blue;
   min-height: 300px;
}

#content{
   background-color: red;
   min-height: 500px;
}

#boxes{
   background-color: yellow;
   min-height: 250px;
}

#footer_content{
   background-color: purple;
   min-height: 150px;
   margin: 5px;
}

.col{
   display: inline-block;
   vertical-align: top;
   padding: 0px;
   margin: 5px;
}

.row{
   padding: 0px;
   margin: 5px;
}

@media only screen and (max-width: 480px) {
   .sm-4{
      width: 98%;
   }
   .sm-0{
      display: none;
   }
}

@media only screen and (min-width: 481px){
   .med-2{
      width:100%;
   }
   .med-0{
      display: none;
   }
   .med-box{
      width: 45%;
      display: inline-block;
   }
}

@media only screen and (min-width: 1024px){
   .lg-1{
      width: 20%;
      display: inline-block;
   }
   .lg-3{
      width: 77%;
      display: inline-block;
   }
   .lg-box{
      width: 30%;
      display: inline-block;
   }
}
